/* Type whatever CSS you need here! */

.true {
    background-color: green;
}

.false {
    background-color: red;
}

#content {
    margin: 0 auto;
}

hr {
    height: 1px;
    background-color:#555;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

hr.albums {
    width: 100%;
}